<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
 	<bean id="stdBean" class="com.ratnesh.beans.StudentBean">
 	<constructor-arg value="s-111"/>
 	<constructor-arg value="AAA"/>
 	<constructor-arg value="hyd"/>
 	</bean>
 
 </beans>