<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        
     <bean id="i18n" class="com.ratnesh.beans.I18NBean">
     	<property name="messageSource" ref="reloadableResourceBoundleMessageSource"/>
     </bean>   
     <bean id="reloadableResourceBoundleMessageSource" class="org.springframework.context.support.ReloadableResourceBoundleMessageSource">
     	<property name="basename" value="abc"/>
     </bean>
</beans>