<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="empBean" class="com.ratnesh.beans.EmployeeBean">
		<property name="eid" value="e-111"/>
		<property name="ename" value="AAA"/>
		<property name="esal" value="50000"/>
		<property name="eaddr" value="hyd"/>
	</bean> 
 
</beans>